header {
    background-image: url("../assets/images/header.png");
    background-size: cover;
    height: 100px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 2em;
}